img {
max-width:100%;
min-width:225px;
max-height:225px;
min-height:100%;
margin-top:60px;
background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}
.square{
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 250px;
    position: relative;
}
.lightFont{
    color: lightgray;
  }
.titleFont{
    color:white;
}
  .pageCard{
    border-radius: 0.25rem !important;
    background-color: rgba(0, 0, 0, 0.62);
  }