<br/>
<div *ngIf="page">
  <div class="container" *ngIf="page.total; else empty_results">
    <div class="row" [hidden]="page.total === 0">
      <div class="col-12 text-center lightFont">
      <strong> {{ 'app.PAGE_INFO' | translate: { from: from, to: to, total: page.total } }}</strong>
      </div>
    </div>
    <div class="row" [hidden]="page.totalPages &lt; 2">
      <div class="col-12 justify-content-center">
        <ngb-pagination [collectionSize]="page.total" [(page)]="page.current" [pageSize]="page.pageSize"
        (pageChange)="pageChange.emit($event)" [maxSize]="5" [boundaryLinks]="false"></ngb-pagination></div>
    </div>
  </div>
</div>
<br/>
<ng-template #empty_results>
  <div class="text-muted text-center lightFont">{{ 'app.NO_RESULTS' | translate }}</div>
</ng-template>
