<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-expand-md">
  <li class="navbar-brand fixAppName col-12 col-md-2 mr-0 text-center" autoClose="true" ngbDropdown display="dynamic" placement="bottom-right">
    <a ngbDropdownToggle class="pointable" role="button"><i class="fas fa-gift"></i> {{ 'app.NAME' | translate }}</a>
    <div ngbDropdownMenu class="dropdown-menu" role="menu">
      <div *ngFor="let item of publicItems">
       <a ngbDropdownItem class="nav-link" [routerLink]="item.route">{{item.name | translate}}</a>
      </div>
      <div *ngIf="role=='Admin'">
        <div *ngFor="let item of adminItems">
          <a ngbDropdownItem class="nav-link" [routerLink]="item.route">{{item.name | translate}}</a>
        </div>
      </div>

    </div>
  </li>

  <app-title class="navbar-text ml-auto"></app-title>
    
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3 ml-auto">
    <!--Start of the dropdown-->
    <li *ngIf="evaluateCartHiddenStatus()" class="nav-item d-md-block d-none fixNavItem" ngbDropdown (openChange)="loadCart($event)" #myDrop="ngbDropdown" id="dropdown-list">

      <a class="nav-link pointable"ngbDropdownToggle id="navbarDropdown1" role="button">
        <i class="fas fa-shopping-cart"></i>
        Cart
        <span class="badge badge-light">{{cartItems?.length}}</span>
      </a> 
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right overflow-auto">
        
        
        <div class="divform">
        <h4 class="text-center pointable" [routerLink]="['/cart']" (click)="$event.stopPropagation(); myDrop.close();">Cart</h4>
        <hr>
        <app-panel [loading]="loading"> 
        <div class="container">
        <div class="mx-2" *ngFor="let item of cartItems; let ii = index">
          <div class="row">
          <div class="col-3 card">
            <img [src]="item.productDetail.product.imgSource">
            </div> 
           <div class="col-7 card">
            <div title="{{item.productDetail.product.name}}">Name: {{item.productDetail.product.name | limitTo:20}} </div>
            <div title="{{item.productDetail.type}}">Type: {{item.productDetail.type | limitTo:20}}</div>
            <div class="input-group">
              <div>
              Quantity: 
            </div>
                <select  class="form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedQty[ii]" id="categoriesSelect" (change)="qtyChanged(item,ii)" [disabled]="summaryDisabled">
                  <option [ngValue]="undefined" [selected]='selected' disabled>{{item.quantity}}</option>
                  <option *ngFor="let itm of availabilityToArray(item.productDetail.availability); let i = index" [ngValue]="i+1" selected>{{i+1}}</option>
                </select>
              
              <div>
               each {{item.productDetail.price}}
              </div>
              </div>
            <div>Total: {{item.quantity*item.productDetail.price | number:'1.2-2'}}</div>
            </div>
            <button class="btn col-2 text-center btn-danger" (click)="deleteItemFromCart(item,ii)"[disabled]="summaryDisabled">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-6 text-center"><strong>Total:</strong></div>
          <div class="col-6 text-center">{{calculateTotal() | number:'1.2-2'}}</div>
        </div>
        <hr>
        <div class="row card">
      <div class="btn-group" role="group">
        <button class="btn btn-success" [disabled]="disabledCheckout" (click)="checkout() && $event.stopPropagation(); myDrop.close();"><i class="fas fa-money-check-alt"></i> Check out</button>
      </div>
    </div>
      </div>
    </app-panel> 
      </div>
   </div>
    </li>
<!--End of the dropdown-->
    <li *ngIf="evaluateCartHiddenStatus()" class="nav-item d-md-none d-lg-none d-xl-none fixNavItem">
      <a class="nav-link" style="cursor: pointer" role="button" [routerLink]="['/cart']" >
        <i class="fas fa-shopping-cart"></i>
        Cart
      </a>
    </li>


    <li *ngIf="Logged" class="nav-item">
      <button class="btn btn-link nav-link" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
        <a class="d-md-inline-block d-none">{{ ' Logged as '+userInfo.name }}</a></button>
    </li>
    <li *ngIf="!Logged" class="nav-item">
      <button class="btn btn-link nav-link " [routerLink]="['/auth/login']">
        <i class="fas fas fa-sign-in-alt"></i>
        {{ 'app.LOG_IN' | translate }}</button>
    </li>
    
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 mx-auto col-lg-10 px-md-4 pt-md-6 pt-sm-5 pt-xs-50px">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
