<div class="py-md-3">
  
    <a class="btn btn-success btn-lg mb-4 mb-md-0 btn-block" [routerLink]="['./new']">
      {{ 'app.NEW' | translate }}
    </a>
  
</div>
<app-panel [loading]="loading">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" appTablesort (sort)="sort($event)">
      <thead>
        <tr>
          <th appTablesortCol="name">{{ 'products.NAME' | translate }}</th>
          <th appTablesortCol="description">{{ 'products.DESC' | translate }}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page?.items">
          <td>
            <ng-template #popContent><img class="img-fluid img-thumbnail" [src]="item.imgSource"/></ng-template>
            <label [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="{{item.name}}">
              {{item.name}}
            </label>
          </td>


          <td>{{ item.description }}</td>
          <td class="table-actions">
            <button type="button" class="btn btn-danger" (click)="delete(item)">
              <i class="far fa-trash-alt"></i>
              {{ 'app.REMOVE' | translate }}
            </button>
            <div class="d-md-inline ml-md-1 d-sm-block">
            <a [routerLink]="['./', item.id, 'edit']" class="btn btn-info">
              <i class="fas fa-pencil-alt"></i>
              {{ 'app.EDIT' | translate }}
            </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <app-pagination [page]="page" (pageChange)="getPage($event)"></app-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</app-panel>
