<div class="mt-3 pageCard">
  <div>
    <a class="btn btn-success btn-lg mb-4 mb-md-0 btn-block" [routerLink]="['./new']"><i class="fas fa-plus-square"></i> {{ 'app.NEW' | translate }}
    </a>
  

<app-panel [loading]="loading">
  <div class="table-responsive">
    <table class="table table-striped" appTablesort (sort)="sort($event)">
      <thead>
        <tr>
          <th class="titleFont" appTablesortCol="name">{{ 'products.NAME' | translate }}</th>
          <th class="titleFont" appTablesortCol="description">{{ 'products.DESC' | translate }}</th>
          <th class="titleFont">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page?.items">
          <td triggers="click">
            <ng-template #popContent><img class="img-fluid img-thumbnail" [src]="item.imgSource"/></ng-template>
            <label class="lightFont" [ngbPopover]="popContent" triggers="mouseenter:mouseleave:click"  popoverTitle="{{item.name}}">
              {{ item.name | limitTo:25}}
            </label>
          </td>


          <td class="lightFont">{{ item.description }}</td>
          <td class="table-actions">
            <button type="button" class="btn btn-danger" (click)="delete(item)">
              <i class="far fa-trash-alt"></i>
              <a class="d-lg-inline d-none">
              {{ 'app.REMOVE' | translate }}
            </a>
            </button>
            <div class="d-inline ml-md-1">
            <a [routerLink]="['./', item.id, 'edit']" class="btn btn-info">
              <i class="fas fa-pencil-alt"></i>
              <a class="d-lg-inline d-none">
                {{ 'app.EDIT' | translate }}</a>
            </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <app-pagination [page]="page" (pageChange)="getPage($event)"></app-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</app-panel>
</div>
</div>