img {
  max-width:100%;
  min-width:225px;
  max-height:225px;
  min-height:100%;
  }
  .lightFont{
    color: lightgray;
  }
  .titleFont{
    color: white;
  }
  .pageCard{
    border-radius: 0.25rem !important;
    background-color: rgba(0, 0, 0, 0.62);
  }